*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    list-style:none;
}


body{
    overflow-x: hidden;
    background:var(--color-primary);
    width:100%;
    height:100vh;
}


:root{
    --color-primary:#0d3636;
    --color-secondary:#ffc800;
    --dark-color:#000;
}

a{
 color: #092032;
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 500;
    
}

img{
    width:100vh;
}




.container{
    max-width:1200px;
    margin:0 auto;
}


.logo a{
    color:#fff;
    font-size:2rem;
    font-weight:600;
}

.logo span{
    color:var(--color-secondary);
}


.header-row{
     display:flex;
     align-items:center;
     justify-content:space-between;
}

.header-nav{
    display:flex;
    align-items:center;
    padding:25px 0;
}

nav ul{
    margin-right:2em;
}

nav ul li{
    display:inline-block;
    margin:0.8em 1em;
}

nav ul li a{
    color:#fff;
    font-size:1.1rem;
}


nav ul li a:hover{
    color:#ffc800;
}



.btn{
    background:var(--color-secondary);
    padding:13px 40px;
    border-radius:25px;
    color:#fff;
    border:none;
    outline:none;
    
}


.hero-row{
    display:flex;
    align-items:center;
    margin-top:6em;
}


.left-col{
    width:45%;
}

.right-col{
    width:55%;
}

.left-col h1{
    font-size:3.4rem;
    color:#fff;
    margin-bottom:25px;
}


.right-col img{
     max-width:100%;
}

.left-col p{
    line-height:1.7;
    color:#fff;
    max-width:450px;
}

.btn2{
    display:inline-block;
   margin-top:25px;
   border-radius:25px;
}


.explore-btn{
     background:transparent;
     border:2px solid #fff;
     margin-left:1em;
}

.explore-btn:hover{
    background:#ffc800;
}











@media (max-width:992px){
      .container{
        width:100%;
        
      }


    

      .header-row{
        padding:25px 40px;
      }

      nav ul{
        display:none;
      }


      .hero-row{
        flex-direction: column;
      }

      .left-col, .right-col{
         width:100%;
         text-align:center;
      }


      .left-col h1{
           font-size:1.5rem;
      }

      .left-col p{
        margin:auto;
    }


    .hero-btn{
        width:40%;
        margin:2em auto;
    }

   .hero-btn a{
      display:block;
      margin:1em 0;
   }
    

}


@media(max-width:600px){
     .left-col p{
         max-width:300px;
     }
}

@media(max-width:875px){
     .hero-btn{
         width:60%;
         
     }

     .hero-btn a{
        padding:1.5em 0;
        border-radius:50px;
     }
}